

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.fa-lightbulb-o:hover {
	text-shadow: none
}

.fa-lightbulb-o{
	text-shadow: 3px 3px 3px gray;

}

.light_on {
	color: #CC6000;
}











